In [9]:
idade1 = 69
idade2 = 73
Soma = idade1 + idade2
Sub = idade1 - idade2
mul_t = idade1 * idade2

In [14]:
print("A soma das idades é ", Soma, "a subtração das idades é ,", Sub, "A multiplicação das idades é  ,", mul_t)

A soma das idades é /n 142 a subtração das idades é , -4 A multiplicação das idades é  , 5037

In [21]:
#prioridade de calculo
#Parêntesis
#Expoente
#Multiplicação
#Divisão
#Adição
#Subtração
cal1 = 2*(idade1 + idade2)
cal1

284

In [22]:
cal2 = 2 * idade1 + 3*idade2/4
cal2

192.75

In [23]:
cal3 = (2* idade1 + 3*idade2)/4
cal3

89.25

In [24]:
print(cal1, cal2, cal3)

284 192.75 89.25

In [25]:
idade1**2

4761

In [29]:
15**3

3375

In [31]:
nome = "Renatha"
sobrenome = "Alves de Lima"

print(nome + '  ' + sobrenome)

Renatha  Alves de Lima

In [37]:
print('Olá, ',nome, '\n', 'voce tem ',idade1 + 15, 'anos. ')

Olá,  Renatha
 voce tem  84 anos.

In [3]:
nome_ = input('Qual seu nome? ')
print(nome_)

Renatha

In [6]:
idade = int(input("Qual sua idade?"))
print(idade + 2)

29

In [7]:
num1 = 15
num1-= 1
print(num1)

14

In [8]:
num2 =20
num2+= 12
print(num2)

32